---
layout: post
title: no title
date: '2016-11-24T02:07:52-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/153584700928/i-have-left-japan-now-back-home-in-the-bay-area
---
<p>I have left Japan! Now back home in the bay area, California.</p>

<p>Next big international destination will most likely be Berlin, Germany in early 2017. I’ll make a short return to NYC and Boston before that, to experience their winters. There may be some smaller trips before both of those.</p>

<p>My ultimate goal with all this traveling is to find a place I’d like to live permanently. Tokyo, NYC, and Boston all remain possibilities - we’ll see how I feel about East coast winters, and how Tokyo’s language barrier compares with other countries. 

Each new place I visit

still teaches me a lot about my own preferences, which tells me it’s too early to choose one yet. One thing’s certain: I’m not going to live in Silicon Valley/California’s south bay area again. Sorry, Mom and Dad.</p>
