---
layout: post
title: now in san diego california less snow here than
date: '2016-12-22T04:58:38-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/154794507068/now-in-san-diego-california-less-snow-here-than
---
<img src="/tumblr_files/tumblr_oikoauPyeq1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikoauPyeq1vdh2hso2_1280.jpg"/><br/><br/><p>Now in San Diego, California! Less snow here than Portland.</p><p>This is a much shorter trip, only a couple of days. San Diego’s got a strong car culture just like neighboring LA, so it’s quickly dismissed as a potential home for me. I’m nearby for Xmas anyway though, so why not visit?</p>
