---
layout: post
title: no title
date: '2016-09-16T08:43:26-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150576793785/fushimi-inari-shrine-i-wasnt-expecting-a-hike
---

<video  id='embed-5b81ca802ec11800805843' class='crt-video crt-skin-default' width='400' height='711' poster='https://78.media.tumblr.com/tumblr_odoyv5GVPg1vdh2hs_smart1.jpg' preload='none' muted data-crt-video data-crt-options='{"autoheight":null,"duration":40,"hdUrl":"https://evanrosson.tumblr.com/video_file/t:5I33vsQUjGLd81M8_joADg/150576793785/tumblr_odoyv5GVPg1vdh2hs/720","filmstrip":{"url":"https://67.media.tumblr.com/previews/tumblr_odoyv5GVPg1vdh2hs_filmstrip.jpg","width":"200","height":"357"}}' >
    <source src="https://evanrosson.tumblr.com/video_file/t:5I33vsQUjGLd81M8_joADg/150576793785/tumblr_odoyv5GVPg1vdh2hs/480" type="video/mp4">
</video>
<br/><p>Fushimi Inari shrine</p>

<p>I wasn’t expecting a hike for this one, but it turned out to be maybe 2 miles of hiking through these famous orange gates. Selfie-sticks and packed roads were everywhere for the first 15 minutes or so, but quickly disappeared and left me with a peaceful hike past the many shrines along this road. Definitely one of the highlights of this trip for me so far.</p>
