---
layout: post
title: toilets deserve their own post i admit i have
date: '2016-09-18T09:10:39-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150577461498/toilets-deserve-their-own-post-i-admit-i-have
---
<img src="/tumblr_files/tumblr_odp05tIweo1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp05tIweo1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp05tIweo1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp05tIweo1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp05tIweo1vdh2hso5_1280.jpg"/><br/><br/><p>Toilets deserve their own post</p>

<p>I admit I have not yet tried the squat toilets. EDIT: now I have. They&rsquo;re not so bad, just unfamiliar. Read the directions first and be careful with whatever you&rsquo;re wearing on your legs.</p>

<p>It’s pretty common for the Western-style toilets to have built-in hand faucets here. It’s pretty common for soap to be missing, too. That must be why they bow here instead of shaking hands</p>

<p>Toilets with heated seats and bidets are everywhere, too. Such luxury. Old news to anyone who’s been to the Google campus, of course</p>
