---
layout: post
title: takashira st harajuku an overwhelming crowd of
date: '2016-09-12T09:18:25-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150577653823/takashira-st-harajuku-an-overwhelming-crowd-of
---
<img src="/tumblr_files/tumblr_odp0isMOmz1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp0isMOmz1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp0isMOmz1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp0isMOmz1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp0isMOmz1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp0isMOmz1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp0isMOmz1vdh2hso7_1280.jpg"/><br/><br/><p>Takashira St, Harajuku</p>

<p>An overwhelming crowd of people less than a block away from a quiet shrine. Kind of a common pattern for Tokyo, really. I think I like it more than New York’s unbroken streams of people.</p>
