---
layout: post
title: day 1 in japan interesting toilets pay phones
date: '2016-08-29T14:18:22-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149652098623/day-1-in-japan-interesting-toilets-pay-phones
---
<img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso9_1280.jpg"/><br/><br/><p>Day 1 in Japan! Interesting toilets, pay phones, my hostel, unlocked bikes, and ueno park 5 min away.</p>
