---
layout: post
title: niagara falls there was a big buddhist temple near
date: '2016-07-01T00:00:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149260909333/niagara-falls-there-was-a-big-buddhist-temple-near
---
<img src="/tumblr_files/tumblr_oc91ozDOyX1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91ozDOyX1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91ozDOyX1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91ozDOyX1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91ozDOyX1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91ozDOyX1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91ozDOyX1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91ozDOyX1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91ozDOyX1vdh2hso9_1280.jpg"/><br/>They still exist!<img src="/tumblr_files/tumblr_oc91ozDOyX1vdh2hso10_1280.jpg"/><br/>Walking Rainbow Bridge, between the USA and Canada<br/><p>Niagara Falls</p><p>There was a big Buddhist temple near my hostel; I spent a little time exploring it. After that, photos of the falls themselves! Not pictured: Canada Day fireworks, July 1</p>
