---
layout: post
title: the deer of nara park known for its tame deer
date: '2016-09-24T06:33:56-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150852239088/the-deer-of-nara-park-known-for-its-tame-deer
---
<img src="/tumblr_files/tumblr_odzwwpkKmA1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzwwpkKmA1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzwwpkKmA1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzwwpkKmA1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzwwpkKmA1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzwwpkKmA1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzwwpkKmA1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzwwpkKmA1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzwwpkKmA1vdh2hso9_1280.png"/><br/><img src="/tumblr_files/tumblr_odzwwpkKmA1vdh2hso10_1280.jpg"/><br/><br/><p>The deer of Nara Park</p>

<p>Known for its tame deer. We are encouraged to feed them “deer cookies” from vendors around the park. Antlers were usually missing. The deer don’t fear humans at all; more than once I saw one wander into a shop and then get shooed out by the owner, frighten small children, chill in the middle of crosswalks, or chase/push people with cookies (don&rsquo;t run, they&rsquo;ll only follow - stand your ground and push right back if needed). Some are trained to bow their heads to people with cookies, too. That said, a falling branch covered with fruit is a far better treat, and deer will take off across the park in giant herds when they hear one break.</p>

<p>Deer sound like squeak-toys</p>
