---
layout: post
title: kyoto bamboo forest even the parts of the park
date: '2016-09-19T13:55:50-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150634690988/kyoto-bamboo-forest-even-the-parts-of-the-park
---
<img src="/tumblr_files/tumblr_odr814KIol1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odr814KIol1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odr814KIol1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odr814KIol1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odr814KIol1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odr814KIol1vdh2hso6_1280.jpg"/><br/><br/><p>Kyoto Bamboo forest</p>

<p>Even the parts of the park without bamboo were very pretty. Despite the warning sign, I saw no monkeys nor apes.</p>
