---
layout: post
title: origami class at the hostel 999 more to go
date: '2016-09-19T13:55:58-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150634692483/origami-class-at-the-hostel-999-more-to-go
---
<img src="/tumblr_files/tumblr_odr81bELzb1vdh2hso1_1280.jpg"/><br/><p>Origami class at the hostel. 999 more to go&hellip;</p>
