---
layout: post
title: cynmax evanrosson day 1 in japan
date: '2016-09-28T05:42:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/151042742458/cynmax-evanrosson-day-1-in-japan
---
<img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocod2pRFpe1vdh2hso9_1280.jpg"/><br/><br/><p><a class="tumblr_blog" href="http://cynmax.tumblr.com/post/150586231627">cynmax</a>:</p>
<blockquote>
<p><a class="tumblr_blog" href="http://evanrosson.tumblr.com/post/149652098623">evanrosson</a>:</p>
<blockquote>
<p>Day 1 in Japan! Interesting toilets, pay phones, my hostel, unlocked bikes, and ueno park 5 min away.</p>
</blockquote>
<p>Are there any homeless in the streets of Japan?</p>
</blockquote>

<p>There are some in parks, and especially on rainy days I’ll consistently find a few under park bridges. I haven’t seen any in tourist areas or city streets, though. There’s a pretty strong police presence there, so I suspect they get chased out.</p><p>It’s entirely possible that there are homeless in the cities I&rsquo;m overlooking because the language barrier makes it tough for them to ask me for change. (I’m very rarely targeted by the numerous folks on city streets selling things/shouting ads/handing out flyers, probably for the same reason.)</p>
