---
layout: post
title: nintendo store in nyc
date: '2016-06-11T00:00:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149261292538/nintendo-store-in-nyc
---
<img src="/tumblr_files/tumblr_oc92cl6lj51vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92cl6lj51vdh2hso2_1280.jpg"/><br/>This was in June, before the Pokemon Go release. I came back in July after release; all the good Pokemon stuff was cleaned out.<img src="/tumblr_files/tumblr_oc92cl6lj51vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92cl6lj51vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92cl6lj51vdh2hso5_1280.jpg"/><br/><br/><p>Nintendo Store in NYC</p>
