---
layout: post
title: ueno park exploration i like it here not
date: '2016-08-29T14:22:58-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149652245613/ueno-park-exploration-i-like-it-here-not
---
<img src="/tumblr_files/tumblr_ocodaeEoE31vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodaeEoE31vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodaeEoE31vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodaeEoE31vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodaeEoE31vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodaeEoE31vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodaeEoE31vdh2hso7_1280.jpg"/><br/>Believe it or not, this is a lake. Water's under all those plants.<img src="/tumblr_files/tumblr_ocodaeEoE31vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodaeEoE31vdh2hso9_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodaeEoE31vdh2hso10_1280.jpg"/><br/><br/><p>Ueno park exploration. I like it here! Not pictured is my new gym, a (short) chin-up bar.</p><p>Pokemon Go is very popular here, even more than in NYC.<br/></p>
