---
layout: post
title: a few shots of portlands washington park they
date: '2016-12-13T00:32:59-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/154400249568/a-few-shots-of-portlands-washington-park-they
---
<img src="/tumblr_files/tumblr_oi3ob90bLl1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oi3ob90bLl1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oi3ob90bLl1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oi3ob90bLl1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oi3ob90bLl1vdh2hso5_1280.jpg"/><br/><br/><p>A few shots of Portland&rsquo;s Washington Park.</p>

<p>They have a Japanese garden, which I tried - and failed - to see. I am sure the rose garden pictured here is nicer when roses are in season. </p>

<p>I liked this park and can tell it&rsquo;d be pretty nice in summer. These pictures don&rsquo;t do it justice.</p>
