---
layout: post
title: the christmas lights of the portland zoo lots of
date: '2016-12-22T04:57:25-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/154794466743/the-christmas-lights-of-the-portland-zoo-lots-of
---
<img src="/tumblr_files/tumblr_oikh9dXrvI1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikh9dXrvI1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikh9dXrvI1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikh9dXrvI1vdh2hso4_400.gif"/><br/><img src="/tumblr_files/tumblr_oikh9dXrvI1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikh9dXrvI1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikh9dXrvI1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikh9dXrvI1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikh9dXrvI1vdh2hso9_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikh9dXrvI1vdh2hso10_1280.jpg"/><br/><br/><p>The Christmas lights of the Portland Zoo.</p><p>Lots of animated lights not shown here. They were more animated than the zoo animals - the only things awake this late were the bats and a lone seal.
<br/></p><p>Sadly, I was not there to see photo #5′s plan put into action. No word about when it was/will be.</p>
