---
layout: post
title: walking tour of portland with my hostel each
date: '2016-12-20T02:58:44-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/154705603328/walking-tour-of-portland-with-my-hostel-each
---
<img src="/tumblr_files/tumblr_oigtq9GkEE1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oigtq9GkEE1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oigtq9GkEE1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oigtq9GkEE1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oigtq9GkEE1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oigtq9GkEE1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oigtq9GkEE1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oigtq9GkEE1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oigtq9GkEE1vdh2hso9_1280.jpg"/><br/><br/><p>Walking tour of Portland with my hostel.</p>

<p>Each white &ldquo;ghost bike&rdquo; on the sculpture represents a dead bicyclist.</p>

<p>The Christmas bush in the middle of the road is the world&rsquo;s smallest official public park.</p>
