---
layout: post
title: kyoto imperial palace this is the former
date: '2016-09-16T00:00:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150446923298/kyoto-imperial-palace-this-is-the-former
---
<img src="/tumblr_files/tumblr_odjuzdqkCO1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuzdqkCO1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuzdqkCO1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuzdqkCO1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuzdqkCO1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuzdqkCO1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuzdqkCO1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuzdqkCO1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuzdqkCO1vdh2hso9_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuzdqkCO1vdh2hso10_1280.jpg"/><br/><br/><p>Kyoto imperial palace.</p>

<p>This is the former capital, now a tourist attraction and very nice park. There’s also an imperial palace in Tokyo that’s actually in use, and you can see the gardens outside but not the palace itself.</p>
