---
layout: post
title: temple cat welcomes me to kyoto
date: '2016-09-13T14:33:07-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150446986828/temple-cat-welcomes-me-to-kyoto
---
<img src="/tumblr_files/tumblr_odjv389v5A1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjv389v5A1vdh2hso2_1280.jpg"/><br/><br/><p>Temple cat welcomes me to Kyoto</p>
