---
layout: post
title: nyc day 1 with a tour group jerrys tour
date: '2016-05-06T15:00:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149261639768/nyc-day-1-with-a-tour-group-jerrys-tour
---
<img src="/tumblr_files/tumblr_oc92zhQHDD1vdh2hso1_1280.jpg"/><br/>View from Brooklyn Bridge<img src="/tumblr_files/tumblr_oc92zhQHDD1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92zhQHDD1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92zhQHDD1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92zhQHDD1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92zhQHDD1vdh2hso6_1280.jpg"/><br/>Penn Station<img src="/tumblr_files/tumblr_oc92zhQHDD1vdh2hso7_1280.jpg"/><br/>Times Square<img src="/tumblr_files/tumblr_oc92zhQHDD1vdh2hso8_1280.jpg"/><br/>A park on the coast of Brooklyn<br/><p>NYC day 1, with a tour group. Jerry’s Tour, starting at NYC Hostelling International, lasts all day. Well worth the $10 plus subway tickets.</p>
