---
layout: post
title: train from san jose to nyc worth doing once the
date: '2016-05-05T15:00:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149261725023/train-from-san-jose-to-nyc-worth-doing-once-the
---
<img src="/tumblr_files/tumblr_oc9357dv7Z1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc9357dv7Z1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc9357dv7Z1vdh2hso3_1280.jpg"/><br/>Utah<img src="/tumblr_files/tumblr_oc9357dv7Z1vdh2hso4_1280.jpg"/><br/>Utah<img src="/tumblr_files/tumblr_oc9357dv7Z1vdh2hso5_1280.jpg"/><br/>More Utah. Pretty cliffs here.<img src="/tumblr_files/tumblr_oc9357dv7Z1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc9357dv7Z1vdh2hso7_1280.jpg"/><br/>Colorado<img src="/tumblr_files/tumblr_oc9357dv7Z1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc9357dv7Z1vdh2hso9_1280.jpg"/><br/><br/><p>Train from San Jose to NYC. Worth doing once - the Sierras, Utah, Colorado, and the west side of the US in general were all very pretty. (The east half was mostly farmland, not too much variety.)</p>
