---
layout: post
title: tonights workspace the roof of my kyoto hostel
date: '2016-09-15T14:25:14-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150446754633/tonights-workspace-the-roof-of-my-kyoto-hostel
---
<img src="/tumblr_files/tumblr_odjuq3SnL11vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuq3SnL11vdh2hso2_1280.jpg"/><br/><br/><p>Tonight’s workspace: the roof of my Kyoto hostel. Includes new best friend.</p>
