---
layout: post
title: coney island beach
date: '2016-05-30T00:00:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149261375148/coney-island-beach
---
<img src="/tumblr_files/tumblr_oc92ifVasS1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92ifVasS1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92ifVasS1vdh2hso3_1280.jpg"/><br/><br/><p>Coney island beach</p>
