---
layout: post
title: the kyoto train museum as labeled on google maps
date: '2016-09-15T14:27:42-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150446831038/the-kyoto-train-museum-as-labeled-on-google-maps
---
<img src="/tumblr_files/tumblr_odjuu9kLeO1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuu9kLeO1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuu9kLeO1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuu9kLeO1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuu9kLeO1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuu9kLeO1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuu9kLeO1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjuu9kLeO1vdh2hso8_1280.jpg"/><br/><br/><p>The Kyoto train museum (as labeled on Google maps) was these two streetcars. (Or maybe I missed it?)</p>
