---
layout: post
title: cynmax evanrosson east imperial gardens
date: '2016-09-28T05:46:48-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/151042879653/cynmax-evanrosson-east-imperial-gardens
---
<img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso5_1280.jpg"/><br/>Any Lucky Star fans in the audience?<img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso9_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso10_1280.jpg"/><br/><br/><p><a class="tumblr_blog" href="http://cynmax.tumblr.com/post/150586009477">cynmax</a>:</p>
<blockquote>
<p><a class="tumblr_blog" href="http://evanrosson.tumblr.com/post/149756149808">evanrosson</a>:</p>
<blockquote>
<p>East imperial gardens, Tokyo.</p>
<p>Some of the prettiest views I’ve seen in Japan so far!<br/></p>
</blockquote>
<p>Beautiful scenery. <br/>What is that thing you’re eating?</p>
</blockquote>

<p>I meant to go back and edit that in! It is a <a href="https://www.google.co.jp/search?q=chocolate+cornet">chocolate cornet</a>, a chocolate-filled bread cone.</p><p><a href="https://www.youtube.com/watch?v=FzCcS1Lez88">I ate the big end first and avoided this problem.</a></p>
