---
layout: post
title: powells bookstore portland the store is
date: '2016-12-22T02:11:22-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/154788528583/powells-bookstore-portland-the-store-is
---
<img src="/tumblr_files/tumblr_oikd8c0Nag1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikd8c0Nag1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikd8c0Nag1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikd8c0Nag1vdh2hso4_1280.jpg"/><br/><br/><p>Powell’s bookstore, Portland.</p>

<p>The store is covered in decorations (like the first two photos), book recommendations from staff, and places to sit and read. Three full floors, one full city block. They sell geek clothing, board games, and comics too. I was surprised at how much I liked this place.</p>

<p>I used to work for a company (owned by a certain Seattle-based online bookstore) focused on print-on-demand for self-published books. Funny that I still never saw a book printer like they used, until today.</p>
