---
layout: post
title: kinkaku ji the golden temple very pretty
date: '2016-09-17T08:47:16-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150576894883/kinkaku-ji-the-golden-temple-very-pretty
---
<img src="/tumblr_files/tumblr_odoz2uK3mD1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odoz2uK3mD1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odoz2uK3mD1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odoz2uK3mD1vdh2hso4_1280.jpg"/><br/><br/><p>Kinkaku-ji</p>

<p>The golden temple. Very pretty! Still, Inari was a lot better. This one has an entrance fee, was much shorter, and every inch of the trail was filled with people using their cameras. Really can’t recommend it.</p>
