---
layout: post
title: beer and cigarette vending machines i read about
date: '2016-09-18T08:49:45-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150576961448/beer-and-cigarette-vending-machines-i-read-about
---
<img src="/tumblr_files/tumblr_odoz6xTQZd1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odoz6xTQZd1vdh2hso2_1280.jpg"/><br/><br/><p>Beer and cigarette vending machines</p>

<p>I read about them but it’s still a surprise to see them in person. I don’t think there’s anything special to stop kids from buying from these machines.</p>
