---
layout: post
title: exploring the parks of boston
date: '2016-08-05T07:11:12-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149259885473/exploring-the-parks-of-boston
---
<img src="/tumblr_files/tumblr_oc8zyqfKXp1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc8zyqfKXp1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc8zyqfKXp1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc8zyqfKXp1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc8zyqfKXp1vdh2hso5_1280.jpg"/><br/><br/><p>Exploring the parks of Boston</p>
