---
layout: post
title: east imperial gardens tokyo some of the
date: '2016-08-31T18:37:03-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149756149808/east-imperial-gardens-tokyo-some-of-the
---
<img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso5_1280.jpg"/><br/>Any Lucky Star fans in the audience?<img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso9_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocsedvPMdo1vdh2hso10_1280.jpg"/><br/><br/><p>East imperial gardens, Tokyo.</p><p>Some of the prettiest views I’ve seen in Japan so far!<br/></p>
