---
layout: post
title: welcome to portland oregon snow here is
date: '2016-12-13T00:24:38-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/154399952528/welcome-to-portland-oregon-snow-here-is
---
<img src="/tumblr_files/tumblr_oi3nxa2n7Z1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oi3nxa2n7Z1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oi3nxa2n7Z1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oi3nxa2n7Z1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oi3nxa2n7Z1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oi3nxa2n7Z1vdh2hso6_1280.jpg"/><br/><br/><p>Welcome to Portland, Oregon!</p>

<p>Snow here is uncommon, but not unheard of. Guess who showed up on a snow day? Snowy photos are all from the train, foreshadowing the cold walk from the station.</p>
