---
layout: post
title: day in shinjuku went with a group of folks from
date: '2016-08-31T01:34:56-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149725514753/day-in-shinjuku-went-with-a-group-of-folks-from
---
<img src="/tumblr_files/tumblr_ocpqvjfVSN1vdh2hso10_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocpqvjfVSN1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocpqvjfVSN1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocpqvjfVSN1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocpqvjfVSN1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocpqvjfVSN1vdh2hso1_1280.jpg"/><br/>Reading about Japan's $200 melons doesn't prepare you for actually seeing them.<img src="/tumblr_files/tumblr_ocpqvjfVSN1vdh2hso7_1280.jpg"/><br/>Someone's jealous of New York~<img src="/tumblr_files/tumblr_ocpqvjfVSN1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocpqvjfVSN1vdh2hso9_1280.jpg"/><br/>View from the top of the 45-story Tokyo Metropolitan Government Building.<br/><p>Day in Shinjuku!</p><p>Went with a group of folks from my hostel. Meiji Jingu shrine, Tokyo Metropolitan Government Building view, and overpriced Japanese produce.</p>
