---
layout: post
title: japanese baseball game nagoya dome visited my
date: '2016-09-28T06:49:26-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/151044534908/japanese-baseball-game-nagoya-dome-visited-my
---
<img src="/tumblr_files/tumblr_oe7cajniM21vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oe7cajniM21vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oe7cajniM21vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oe7cajniM21vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oe7cajniM21vdh2hso5_400.gif"/><br/><img src="/tumblr_files/tumblr_oe7cajniM21vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oe7cajniM21vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oe7cajniM21vdh2hso8_1280.jpg"/><br/><br/><p>Japanese baseball game, Nagoya Dome</p>

<p>Visited my cousin in Nagoya (neither of us knew the other would be in Japan when deciding to travel!), and went with a small group to a Japanese baseball game.</p>

<p>Fans seemed far more enthusiastic than the American games I’ve been to. (Admittedly, most games I went to were minor league.) Flags, marching band, loud cheers, scantily clad cheerleaders, the works. This is Japan’s football, I guess!</p>

<p>Team names are in English, not Japanese - today was dragons vs tigers, not <a href="https://translate.google.com/#ja/en/%E3%82%8A%E3%82%85%E3%81%86%20vs%20%E3%81%A8%E3%82%89">りゅう vs とら</a>. (Neither was crouching nor hidden.) Google says this is because baseball’s a foreign thing, and in this context foreign is “cool”. Hear that, everyone? I’m cool now!</p>

<p>I’m amazed I’ve never seen vendors with beer-keg backpacks at American games</p>
