---
layout: post
title: the not deer of nara park the parks also home
date: '2016-09-24T06:45:13-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150852535698/the-not-deer-of-nara-park-the-parks-also-home
---
<img src="/tumblr_files/tumblr_odzxfiq7hg1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzxfiq7hg1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzxfiq7hg1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzxfiq7hg1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzxfiq7hg1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzxfiq7hg1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzxfiq7hg1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzxfiq7hg1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzxfiq7hg1vdh2hso9_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odzxfiq7hg1vdh2hso10_1280.jpg"/><br/><br/><p>The not-deer of Nara Park</p>

<p>The park&rsquo;s also home to a giant wooden building with some massive Buddha statues inside. Apparently it&rsquo;s popular for field trips, each of the yellow hats in photo 2 is a kid.</p>

<p>Some roads in Japan have running water next to them, no guardrails or anything. I hear these are called &ldquo;foreigner traps&rdquo;. I haven&rsquo;t fallen in yet!</p>

<p>The park is also home to a cafe that videogame fans might enjoy.</p>
