---
layout: post
title: view from the roof of my building you can see one
date: '2016-11-24T01:48:56-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/153584070323/view-from-the-roof-of-my-building-you-can-see-one
---
<img src="/tumblr_files/tumblr_oh4l5oo56H1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oh4l5oo56H1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oh4l5oo56H1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oh4l5oo56H1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oh4l5oo56H1vdh2hso5_1280.jpg"/><br/><br/><p>View from the roof of my building. You can see one of Tokyo&rsquo;s big downtown areas (Shinjuku) from the roof; tall buildings in photo 3.</p>

<p>One day after I left Tokyo, there was an earthquake. (No one I know harmed.) Two days after I left Tokyo, there&rsquo;s snow - a housemate took photos 4 and 5. Clearly this is all some Japanese god&rsquo;s way of saying &ldquo;I miss Evan.&rdquo;</p>
