---
layout: post
title: toronto canada because new york wasnt travel
date: '2016-06-30T00:00:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149261031413/toronto-canada-because-new-york-wasnt-travel
---
<img src="/tumblr_files/tumblr_oc91w7Ewe31vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91w7Ewe31vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91w7Ewe31vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91w7Ewe31vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91w7Ewe31vdh2hso5_1280.jpg"/><br/>View from the hostel roof<img src="/tumblr_files/tumblr_oc91w7Ewe31vdh2hso6_1280.jpg"/><br/>New friends from the hostel<img src="/tumblr_files/tumblr_oc91w7Ewe31vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91w7Ewe31vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91w7Ewe31vdh2hso9_1280.jpg"/><br/><br/><p>Toronto, Canada</p><p>Because New York wasn’t travel enough. First time outside the USA!</p>
