---
layout: post
title: welcome to boston exploring nearby with my hostel
date: '2016-08-03T07:13:47-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149259956603/welcome-to-boston-exploring-nearby-with-my-hostel
---
<img src="/tumblr_files/tumblr_oc9030Dyz01vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc9030Dyz01vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc9030Dyz01vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc9030Dyz01vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc9030Dyz01vdh2hso5_1280.jpg"/><br/><br/><p>Welcome to Boston!</p><p>Exploring nearby with my hostel tour group.</p>
