---
layout: post
title: san diego marina park also a little of downtown
date: '2016-12-22T05:07:12-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/154794789983/san-diego-marina-park-also-a-little-of-downtown
---
<img src="/tumblr_files/tumblr_oikobfC1lC1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikobfC1lC1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikobfC1lC1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikobfC1lC1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikobfC1lC1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikobfC1lC1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikobfC1lC1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oikobfC1lC1vdh2hso8_1280.jpg"/><br/><br/><p>San Diego Marina Park. Also, a little of Downtown and a view from the convention center.</p><p>The ship and the giant sailor/sailor’s-ladyfriend are near a big Navy museum.</p>
