---
layout: post
title: next stop portland this one will be a shorter
date: '2016-12-08T05:34:09-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/154195393703/next-stop-portland-this-one-will-be-a-shorter
---
<img src="/tumblr_files/tumblr_ohuswxAh5J1vdh2hso1_1280.png"/><br/><p>Next stop: Portland! This one will be a shorter trip, back to CA just before Christmas.</p>
