---
layout: post
title: first week in nyc exploring nearby parks and
date: '2016-05-12T15:00:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149261599523/first-week-in-nyc-exploring-nearby-parks-and
---
<img src="/tumblr_files/tumblr_oc92wryqUh1vdh2hso1_1280.jpg"/><br/>NYC skyline from the reservoir in the middle of Central Park. Central Park ended up being one of my favorite places in the whole city.<img src="/tumblr_files/tumblr_oc92wryqUh1vdh2hso2_1280.jpg"/><br/>Horses in Central Park!<img src="/tumblr_files/tumblr_oc92wryqUh1vdh2hso4_1280.jpg"/><br/>My gym for most of this trip! Middle of Central Park.<img src="/tumblr_files/tumblr_oc92wryqUh1vdh2hso5_1280.jpg"/><br/>Morningside Park. I had 3 great parks within a 5 minute walk of where I stayed.<img src="/tumblr_files/tumblr_oc92wryqUh1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92wryqUh1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92wryqUh1vdh2hso8_1280.jpg"/><br/>Yankees game! The hostel had discounted tickets, and the stadium was a short subway ride away.<img src="/tumblr_files/tumblr_oc92wryqUh1vdh2hso3_1280.jpg"/><br/>You're doing great! Yes, you!<br/><p>First week in NYC. Exploring nearby parks and going to a baseball game.</p>
