---
layout: post
title: capsule hotel i really liked this place the
date: '2016-09-12T00:00:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150577901808/capsule-hotel-i-really-liked-this-place-the
---
<img src="/tumblr_files/tumblr_odp10pVN941vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp10pVN941vdh2hso2_1280.jpg"/><br/><br/><p>Capsule hotel</p>

<p>I really liked this place. The beds were just long enough for me to stretch out to my full length (no arms overhead, 6'2&quot;), but any taller and I wouldn’t have fit. They also had a traditional Japanese shared bath/sauna, no private showers - really nice if you can get over your modesty actually.</p>
