---
layout: post
title: being on the other side of the planet is not an
date: '2016-11-08T16:06:30-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/152903657533/being-on-the-other-side-of-the-planet-is-not-an
---
<img src="/tumblr_files/tumblr_ogc26uCl171vdh2hso1_1280.png"/><br/><p>Being on the other side of the planet is not an excuse.</p><p>(Still in Japan, by the way - haven’t had many photos to share lately.)</p>
