---
layout: post
title: fushimi inari because i cant put the video and
date: '2016-09-16T08:58:09-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150577164128/fushimi-inari-because-i-cant-put-the-video-and
---
<img src="/tumblr_files/tumblr_odozl09WTd1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odozl09WTd1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odozl09WTd1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odozl09WTd1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odozl09WTd1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odozl09WTd1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odozl09WTd1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odozl09WTd1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odozl09WTd1vdh2hso9_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odozl09WTd1vdh2hso10_1280.jpg"/><br/><br/><p>Fushimi Inari</p>

<p>Because I can’t put the video and the still photos in the same post, and I understand that selfies with the orange gates are mandatory. Again, this has been one highlight of my trip so far.</p>

<p>Inari is a fox shrine, so I thought the Vulpix (fox Pokemon) in the last photo was a nice touch</p>
