---
layout: post
title: exploring brooklyn and new york university with a
date: '2016-07-20T00:00:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149260679498/exploring-brooklyn-and-new-york-university-with-a
---
<img src="/tumblr_files/tumblr_oc91askz7h1vdh2hso1_1280.jpg"/><br/>NYC subway art<img src="/tumblr_files/tumblr_oc91askz7h1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91askz7h1vdh2hso3_1280.jpg"/><br/>This was a convenient find during a date!<img src="/tumblr_files/tumblr_oc91askz7h1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91askz7h1vdh2hso5_1280.jpg"/><br/>NYU library. Apparently people would jump from the upper floors during finals week, so the fences were installed.<img src="/tumblr_files/tumblr_oc91askz7h1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc91askz7h1vdh2hso7_1280.jpg"/><br/><br/><p>Exploring Brooklyn and New York University with a lovely tour guide.</p>
