---
layout: post
title: museum of natural history nyc
date: '2016-07-28T00:00:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149260431578/museum-of-natural-history-nyc
---
<img src="/tumblr_files/tumblr_oc90v3Z7E81vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc90v3Z7E81vdh2hso2_1280.jpg"/><br/>Indians used to chase whole herds of buffalo off a cliff instead of hunting individuals.<img src="/tumblr_files/tumblr_oc90v3Z7E81vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc90v3Z7E81vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc90v3Z7E81vdh2hso6_1280.jpg"/><br/><br/><p>Museum of Natural History, NYC</p>
