---
layout: post
title: tuba christmas in portland tough to get good
date: '2016-12-13T00:28:58-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/154400099613/tuba-christmas-in-portland-tough-to-get-good
---
<img src="/tumblr_files/tumblr_oi3o4fXmog1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oi3o4fXmog1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oi3o4fXmog1vdh2hso3_1280.jpg"/><br/><br/><p>Tuba Christmas in Portland. Tough to get good photos from my seat, but they had a bunch of tubas playing Christmas carols downtown, around a big tree. Photo of the big tree is a few hours after the tubas and associated crowd left.</p>
