---
layout: post
title: more park some engrish and ねこ
date: '2016-08-29T14:27:24-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149652376683/more-park-some-engrish-and-ねこ
---
<img src="/tumblr_files/tumblr_ocodhsuotd1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodhsuotd1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodhsuotd1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodhsuotd1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodhsuotd1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodhsuotd1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodhsuotd1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_ocodhsuotd1vdh2hso8_1280.jpg"/><br/>ねこ。<br/><p>More park, some engrish, and ねこ。</p>
