---
layout: post
title: japanese style room ive always enjoyed sleeping
date: '2016-09-07T16:58:44-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150451571768/japanese-style-room-ive-always-enjoyed-sleeping
---
<img src="/tumblr_files/tumblr_odk1txVbie1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odk1txVbie1vdh2hso2_1280.jpg"/><br/><br/><p>Japanese-style room. I&rsquo;ve always enjoyed sleeping on the floor so this was cool.</p>
