---
layout: post
title: yoyogi park arabian festival accidentally found
date: '2016-09-10T00:00:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150577789553/yoyogi-park-arabian-festival-accidentally-found
---
<img src="/tumblr_files/tumblr_odp0sgLYI21vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp0sgLYI21vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp0sgLYI21vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odp0sgLYI21vdh2hso4_1280.jpg"/><br/><br/><p>Yoyogi Park Arabian Festival</p>

<p>Accidentally found this a few hours before it ended. Most of the audience and performers were Japanese. Most of the visibly Middle Eastern folks I saw were selling food, and even then, most food salespeople were Japanese too. Interesting to compare that with the representation you’d see in the US, I think.</p><p>The blue dancer in the third photo was spinning a circular fabric/ornament of some kind on his hand, above his head - sort of like how you see Italian chefs spin pizza dough in TV/movies. I hadn’t seen this kind of dance before.</p><p>I can now say I’ve had an Arabian belly-dancing lesson in Japanese<br/></p>
