---
layout: post
title: a shared nabe hot pot dinner with my housemates
date: '2016-11-24T01:39:48-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/153583769188/a-shared-nabe-hot-pot-dinner-with-my-housemates
---
<img src="/tumblr_files/tumblr_oh4kqguurR1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oh4kqguurR1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oh4kqguurR1vdh2hso3_1280.jpg"/><br/><br/><p>A shared nabe (hot pot) dinner with my housemates. I didn&rsquo;t take many photos of group stuff, but we got together a few times a month like this and went out afterward; always a good time.</p>
