---
layout: post
title: exploring central park and a few other nyc
date: '2016-06-18T00:00:00-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/149261277183/exploring-central-park-and-a-few-other-nyc
---
<img src="/tumblr_files/tumblr_oc92bgzSbS1vdh2hso2_1280.jpg"/><br/>World Trade Center memorial<img src="/tumblr_files/tumblr_oc92bgzSbS1vdh2hso1_1280.jpg"/><br/>Near the WTC memorial, for the Florida nightclub shooting.<img src="/tumblr_files/tumblr_oc92bgzSbS1vdh2hso3_1280.jpg"/><br/>Skyline in Central Park at night<img src="/tumblr_files/tumblr_oc92bgzSbS1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92bgzSbS1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92bgzSbS1vdh2hso6_1280.jpg"/><br/>The High Line, an old railroad track converted to a park<img src="/tumblr_files/tumblr_oc92bgzSbS1vdh2hso7_1280.jpg"/><br/>Central Park<img src="/tumblr_files/tumblr_oc92bgzSbS1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92bgzSbS1vdh2hso9_1280.jpg"/><br/><img src="/tumblr_files/tumblr_oc92bgzSbS1vdh2hso10_1280.jpg"/><br/><br/><p>Exploring Central Park and a few other NYC locations.</p>
