---
layout: post
title: bus to kyoto the sleep shade is an interesting
date: '2016-09-13T14:32:55-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/150446980778/bus-to-kyoto-the-sleep-shade-is-an-interesting
---
<img src="/tumblr_files/tumblr_odjv2wo9tj1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_odjv2wo9tj1vdh2hso2_1280.jpg"/><br/><br/><p>Bus to Kyoto.</p>

<p>The sleep-shade is an interesting idea - while you’re on a bus for 8 hours, you can pull this shade over your head to mask your eyes and make it easier to sleep. Sadly, it - like so many things in Japan - wasn’t made with foreign giants in mind; this photo was take with me slouching way over, and I don’t fit any other way.</p>
