---
layout: post
title: copenhagen denmark this ended up being my
date: '2017-07-01T21:49:34-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/162486175968/copenhagen-denmark-this-ended-up-being-my
---
<img src="/tumblr_files/tumblr_osfikfnuE71vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfikfnuE71vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfikfnuE71vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfikfnuE71vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfikfnuE71vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfikfnuE71vdh2hso3_1280.jpg"/><br/><br/><p>Copenhagen, Denmark!</p><p>This ended up being my favorite city in Europe - if I were to move to Europe, I’d probably move here. So many bikes; easily more bikes than cars - my people. Pretty parks, pretty waterfront, decent English and decent people.</p><p>(I’m posting this, and everything after it, a little less than two months after the end of my trip.)</p>
