---
layout: post
title: vienna austria just one day walking around the
date: '2017-07-01T21:50:51-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/162486214038/vienna-austria-just-one-day-walking-around-the
---
<img src="/tumblr_files/tumblr_osfl2y79jr1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfl2y79jr1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfl2y79jr1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfl2y79jr1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfl2y79jr1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfl2y79jr1vdh2hso6_1280.jpg"/><br/><br/><p>Vienna, Austria!</p><p>Just one day, walking around the palace.</p>
