---
layout: post
title: berlin has lots and lots of graffiti and art on
date: '2017-03-09T19:33:56-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/158201624058/berlin-has-lots-and-lots-of-graffiti-and-art-on
---
<img src="/tumblr_files/tumblr_omkegkxXOu1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkegkxXOu1vdh2hso7_r1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkegkxXOu1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkegkxXOu1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkegkxXOu1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkegkxXOu1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkegkxXOu1vdh2hso5_1280.jpg"/><br/><br/><p>Berlin has lots and lots of graffiti and art on the streets. I enjoy seeing it - to me, it all feels more artistic and less threatening/gang-related than, say, LA’s. Then again, I can’t read any of it in German, so who knows?</p><p>On the text in the last photo: a surprising number of people outside the US have an opinion on him, but not one I’ve heard has been positive. </p>
