---
layout: post
title: a few days in boston before my flight to berlin
date: '2017-03-09T19:15:33-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/158201027333/a-few-days-in-boston-before-my-flight-to-berlin
---
<img src="/tumblr_files/tumblr_omkdlxPSk91vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkdlxPSk91vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkdlxPSk91vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkdlxPSk91vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkdlxPSk91vdh2hso5_1280.jpg"/><br/><br/><p>

A few days in Boston, before my flight to Berlin.<br/><br/>It never occurred to me that a frozen lake could act like a bridge to an otherwise-unreachable island in the middle of the lake.</p><p>For both New York and Boston, my conclusion is that the weather isn’t ideal, but it’s not a dealbreaker. I think I could be happy living in either. Still, let’s see what Europe has to offer before deciding.</p>
