---
layout: post
title: amsterdam the netherlands before coming here i
date: '2017-07-01T21:49:49-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/162486183083/amsterdam-the-netherlands-before-coming-here-i
---
<img src="/tumblr_files/tumblr_osfj8wHpzc1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj8wHpzc1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj8wHpzc1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj8wHpzc1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj8wHpzc1vdh2hso9_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj8wHpzc1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj8wHpzc1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj8wHpzc1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj8wHpzc1vdh2hso3_1280.jpg"/><br/><br/><p>Amsterdam, the Netherlands!</p><p>Before coming here, I didn’t realize it was right up there with Copenhagen for bike-friendliness. So many bikes.</p><p>I spent a decent amount of my time here sick, unfortunately, so not many photos for you. It’s a fun city, though.</p>
