---
layout: post
title: a trip to a park and indoor garden in copenhagen
date: '2017-07-01T21:49:40-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/162486179248/a-trip-to-a-park-and-indoor-garden-in-copenhagen
---
<img src="/tumblr_files/tumblr_osfiv5tdEu1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfiv5tdEu1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfiv5tdEu1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfiv5tdEu1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfiv5tdEu1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfiv5tdEu1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfiv5tdEu1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfiv5tdEu1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfiv5tdEu1vdh2hso10_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfiv5tdEu1vdh2hso9_1280.jpg"/><br/><br/><p>A trip to a park and indoor garden in Copenhagen, with a surprise marching band.</p>
