---
layout: post
title: no title
date: '2017-07-01T21:51:21-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/162486228103/epilogue-after-arriving-back-home-from-europe
---
<p>Epilogue: after arriving back home from Europe (and fixing my phone, and hanging out at home in California for a while), I moved to New York.</p><p>My reason for traveling was to find a future home, and I’ve found it, so I won’t be adding much more here.</p><p>Thanks for looking!</p>
