---
layout: post
title: second snow day the airbnb i stayed at had a
date: '2017-02-15T23:14:59-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/157293123683/second-snow-day-the-airbnb-i-stayed-at-had-a
---
<img src="/tumblr_files/tumblr_olfy1ryN0O1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfy1ryN0O1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfy1ryN0O1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfy1ryN0O1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfy1ryN0O1vdh2hso5_1280.jpg"/><br/><br/><p>Second snow day. The Airbnb I stayed at had a 6-inch snowfall measurement thingy - it was completely buried. Finally, this is the east coast winter weather I was promised.</p>

<p>One month and only two snow days after returning to New York, I am now in Boston (and finally posting all of this). Next stop: Berlin, Germany.</p>
