---
layout: post
title: my electric bike had a full battery the night
date: '2017-02-15T22:53:26-05:00'
tags:
- gif
tumblr_url: https://wheres.erosson.org/post/157292369523/my-electric-bike-had-a-full-battery-the-night
---
<img src="/tumblr_files/tumblr_olfx13zO4C1vdh2hso1_400.gif"/><br/><p>My electric bike had a full battery the night before leaving home for more travel. Can’t leave it full for months, that harms the battery. How to use up the battery, I asked myself?</p>
