---
layout: post
title: the westminster area this was shortly after the
date: '2017-07-01T21:49:58-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/162486187413/the-westminster-area-this-was-shortly-after-the
---
<img src="/tumblr_files/tumblr_osfko9l6G61vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfko9l6G61vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfko9l6G61vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfko9l6G61vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfko9l6G61vdh2hso5_1280.jpg"/><br/><br/><p>The Westminster area.</p><p>This was shortly after the <a href="https://en.wikipedia.org/wiki/2017_Westminster_attack">Westminster terror attack</a>, so there were still clear signs of mourning.</p>
