---
layout: post
title: a walk to an old copenhagen castle on a
date: '2017-07-01T21:49:45-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/162486181303/a-walk-to-an-old-copenhagen-castle-on-a
---
<img src="/tumblr_files/tumblr_osfj3eaEKo1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj3eaEKo1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj3eaEKo1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj3eaEKo1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj3eaEKo1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj3eaEKo1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfj3eaEKo1vdh2hso7_1280.jpg"/><br/><br/><p>A walk to an old Copenhagen castle on a star-shaped island, and the famous mermaid statue, The Little Mermaid/Den Lille Havfrue. I don’t quite get why it’s so famous - there are <i>so many</i> other statues throughout Copenhagen. Don’t get me wrong, this one’s nice, but so are the others!</p>
