---
layout: post
title: london england getting there by bus was
date: '2017-07-01T21:49:53-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/162486185168/london-england-getting-there-by-bus-was
---
<img src="/tumblr_files/tumblr_osfkjtIjwj1vdh2hso9_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfkjtIjwj1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfkjtIjwj1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfkjtIjwj1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfkjtIjwj1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfkjtIjwj1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfkjtIjwj1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfkjtIjwj1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfkjtIjwj1vdh2hso8_1280.jpg"/><br/><br/><p>London, England!</p><p>Getting there by bus was interesting. There was a tunnel between England and France - you don’t drive through the tunnel; you drive onto a train designed to carry cars/buses.</p><p>I spent a lot of time at Hyde Park. Reminded me of NYC’s Central Park in some ways. </p><p>I also ended up near a building named for the founder of Boy Scouting. Unexpected, and a nifty find for someone in scouting.</p>
