---
layout: post
title: the wall
date: '2017-03-09T20:26:37-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/158203409798/the-wall
---
<img src="/tumblr_files/tumblr_omkgwdqesz1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkgwdqesz1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkgwdqesz1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkgwdqesz1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkgwdqesz1vdh2hso5_1280.jpg"/><br/><br/><p>The wall.</p>
