---
layout: post
title: brussels belgium just one day here on my way to
date: '2017-07-01T21:50:35-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/162486205908/brussels-belgium-just-one-day-here-on-my-way-to
---
<img src="/tumblr_files/tumblr_osfky6y1W71vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfky6y1W71vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfky6y1W71vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfky6y1W71vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfky6y1W71vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfky6y1W71vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfky6y1W71vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfky6y1W71vdh2hso8_1280.jpg"/><br/><br/><p>Brussels, Belgium!</p><p>Just one day here, on my way to Budapest.</p>
