---
layout: post
title: cologne germany just one day here on my way to
date: '2017-07-01T21:50:40-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/162486208203/cologne-germany-just-one-day-here-on-my-way-to
---
<img src="/tumblr_files/tumblr_osfl0ssuSL1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfl0ssuSL1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfl0ssuSL1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfl0ssuSL1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfl0ssuSL1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfl0ssuSL1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfl0ssuSL1vdh2hso6_1280.jpg"/><br/><br/><p>Cologne, Germany!</p><p>Just one day here, on my way to Budapest. I don’t think I’ve ever seen a soccer field on a roof before.</p>
