---
layout: post
title: i took a bus from berlin to copenhagen there is
date: '2017-03-09T20:52:15-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/158204266293/i-took-a-bus-from-berlin-to-copenhagen-there-is
---
<img src="/tumblr_files/tumblr_omki33qSIp1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omki33qSIp1vdh2hso2_1280.jpg"/><br/><br/><p>

I took a bus from Berlin to Copenhagen. There is more water in the way than I thought - expected a bridge, but got a ferry!

<br/></p>
