---
layout: post
title: hallo germany tiergarten was near my first
date: '2017-03-09T19:23:16-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/158201284798/hallo-germany-tiergarten-was-near-my-first
---
<img src="/tumblr_files/tumblr_omkdysmLiK1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkdysmLiK1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkdysmLiK1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkdysmLiK1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkdysmLiK1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkdysmLiK1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkdysmLiK1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkdysmLiK1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkdysmLiK1vdh2hso9_1280.jpg"/><br/><br/><p>Hallo, Germany!</p><p>Tiergarten was near my first hostel. It’s a park with many historic statues. Last picture features Brandenburg Tor, an 18th-century gate. So far, Berlin’s very pretty and clearly has lots of history.</p>
