---
layout: post
title: platform 9 ¾ london it was not actually between
date: '2017-07-01T21:50:30-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/162486203318/platform-9-¾-london-it-was-not-actually-between
---
<img src="/tumblr_files/tumblr_osfkvjTH3D1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfkvjTH3D1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfkvjTH3D1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osfkvjTH3D1vdh2hso2_1280.jpg"/><br/><br/><p>Platform 9 &frac34;, London. It was not actually between platforms 9 and 10. Fortunately, that means I didn’t need a ticket - or wizard powers - to get to it.</p>
