---
layout: post
title: memorial to the murdered jews of europe from a
date: '2017-03-09T20:29:13-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/158203499888/memorial-to-the-murdered-jews-of-europe-from-a
---
<img src="/tumblr_files/tumblr_omkh0p6ZSw1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkh0p6ZSw1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkh0p6ZSw1vdh2hso2_1280.jpg"/><br/><br/><p>

Memorial to the Murdered Jews of Europe.</p><p>From a distance it looks a bit like a sea of coffins. Walk inside, and you&rsquo;re lost in a bunch of pillars and can&rsquo;t see much of the outside. <br/></p>
