---
layout: post
title: a subway rat welcomes me back to new york also
date: '2017-02-15T23:01:21-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/157292672783/a-subway-rat-welcomes-me-back-to-new-york-also
---
<img src="/tumblr_files/tumblr_olfxfcixmY1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfxfcixmY1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfxfcixmY1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfxfcixmY1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfxfcixmY1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfxfcixmY1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfxfcixmY1vdh2hso7_1280.jpg"/><br/><br/><p>A subway rat welcomes me back to New York.</p>

<p>Also, a walk past some Central Park landmarks I managed to miss during the summer.</p>

<p>I came back here to see what the winter weather is like. I expected more snow&hellip;</p>
