---
layout: post
title: first new york snow day and first time id ever
date: '2017-02-15T23:07:56-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/157292875158/first-new-york-snow-day-and-first-time-id-ever
---
<img src="/tumblr_files/tumblr_olfxpwdB1e1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfxpwdB1e1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfxpwdB1e1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfxpwdB1e1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_olfxpwdB1e1vdh2hso5_1280.jpg"/><br/><br/><p>First New York snow day, and first time I&rsquo;d ever seen a partially-frozen lake.</p>

<p>Kind of weak. 2 days later, you couldn&rsquo;t even tell it had snowed. Is this all you got, nature?</p>
