---
layout: post
title: a few miscellaneous photos of berlin that defied
date: '2017-03-09T20:41:36-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/158203916118/a-few-miscellaneous-photos-of-berlin-that-defied
---
<img src="/tumblr_files/tumblr_omkhlcCKW11vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkhlcCKW11vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkhlcCKW11vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkhlcCKW11vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkhlcCKW11vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkhlcCKW11vdh2hso6_1280.jpg"/><br/><br/><p>A few miscellaneous photos of Berlin that defied easy categorization.</p><p>

I don&rsquo;t see myself living in Berlin. There&rsquo;s a lot to like about the city: the parks are good, the prices are great, transit is great. It&rsquo;s a tough thing to judge in only a few days, but I don&rsquo;t think I&rsquo;d fit into the social scene here very well. I could see other German cities working better for me - maybe Munich?

<br/></p><p>

But first: Copenhagen, then Stockholm.

<br/></p>
