---
layout: post
title: there are some cool hostels here one had a
date: '2017-03-09T20:33:48-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/158203658933/there-are-some-cool-hostels-here-one-had-a
---
<img src="/tumblr_files/tumblr_omkh8ckmIj1vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkh8ckmIj1vdh2hso10_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkh8ckmIj1vdh2hso9_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkh8ckmIj1vdh2hso7_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkh8ckmIj1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkh8ckmIj1vdh2hso6_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkh8ckmIj1vdh2hso8_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkh8ckmIj1vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkh8ckmIj1vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkh8ckmIj1vdh2hso2_1280.jpg"/><br/><br/><p>

There are some cool hostels here. One had a Hitchhiker&rsquo;s Guide to the Galaxy theme: &ldquo;Heart of Gold&rdquo; is the ship, and the hostel name. Another just had nifty art on all the walls.

<br/></p>
