---
layout: post
title: munich germany not many photos here my phone
date: '2017-07-01T21:51:10-04:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/162486222803/munich-germany-not-many-photos-here-my-phone
---
<img src="/tumblr_files/tumblr_osflqxRQII1vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osflqxRQII1vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_osflqxRQII1vdh2hso3_1280.jpg"/><br/><br/><p>Munich, Germany!</p><p>Not many photos here - my phone broke shortly after arriving! Fortunately, there was only a bit more than a week left in my trip, so I could hold out until returning to the states.</p>
