---
layout: post
title: one especially interesting park tempelhofer feld
date: '2017-03-09T20:38:42-05:00'
tags: []
tumblr_url: https://wheres.erosson.org/post/158203814143/one-especially-interesting-park-tempelhofer-feld
---
<img src="/tumblr_files/tumblr_omkhgilU761vdh2hso2_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkhgilU761vdh2hso4_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkhgilU761vdh2hso5_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkhgilU761vdh2hso3_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkhgilU761vdh2hso1_1280.jpg"/><br/><img src="/tumblr_files/tumblr_omkhgilU761vdh2hso6_1280.jpg"/><br/><br/><p>

One especially interesting park, Tempelhofer Feld, was converted from an old airport. If you ever want to run across an airport runway, here’s your chance!</p>
