---
layout: default
#    <span class="date">{{ post.date }}</span>
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<article class="post">
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="post-meta">
    <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ post.date | date: date_format }}
    </time>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
</article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Older posts</a>
  {% else %}
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Newer posts</a>
  {% else %}
  {% endif %}
</div>

